Debug/
.vs/
ProyectoVerticalFarmsView/ProyectoVerticalFarmsView.vcxproj
ProyectoVerticalFarmsView/ProyectoVerticalFarmsView.vcxproj.filters
ProyectoVerticalFarmsView/ProyectoVerticalFarmsView.vcxproj.user
ProyectoVerticalFarmsView/Debug
ProyectoVerticalFarmsModel/Debug
ProyectoVerticalFarmsModel/ProyectoVerticalFarmsModel.vcxproj
ProyectoVerticalFarmsModel/ProyectoVerticalFarmsModel.vcxproj.filters
ProyectoVerticalFarmsModel/ProyectoVerticalFarmsModel.vcxproj.user
ProyectoVerticalFarmsController/Debug
ProyectoVerticalFarmsController/ProyectoVerticalFarmsController.vcxproj
ProyectoVerticalFarmsController/ProyectoVerticalFarmsController.vcxproj.filters
ProyectoVerticalFarmsController/ProyectoVerticalFarmsController.vcxproj.user